<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Profile</title>
        <link rel="stylesheet" href="bootstrap.css" type="text/css">
        <style>
            .text-small {
                font-size: 85%;
            }

            .dropdown-toggle:not(:focus) {
                outline: 0;
            }
            .log-out-a {
                color: inherit;
                text-decoration: none;
            }
            main {
                min-height: 700px;
                align-items: center;
                text-align: center;
            }

        </style>
    </head>
    <body>
        <header class="p-3 mb-3 border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/shop" class="nav-link px-2 link-body-emphasis">Shop</a></li>
                        <li><a href="/about" class="nav-link px-2 link-body-emphasis">About</a></li>
                        <li><a href="/profile" class="nav-link px-2 link-secondary">Profile</a></li>
                    </ul>
            
                    <div class="text-end">
                        <a href="/logout" class="btn btn-primary">Log Out</a>
                    </div>
                </div>
            </div>
        </header>
        <main>
          <h1>Profile</h1>
        </main>
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted" style="margin-left: 32px;">&copy; 2024 Sizov Matvey</p>
            <a href="/feedback" class="nav-link px-2 text-muted">Leave feedaback!</a>
            <ul class="nav col-md-4 justify-content-end" style="margin-right: 32px;">
              <li class="nav-item"><a href="/shop" class="nav-link px-2 text-muted">Home</a></li>
              <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
            </ul>
        </footer>
    </body>
</html>